body {
    background-color: #f1cbd2;
}

h1 {
    color: orange;
}

h2 {
    color: cornflowerblue;
}

p {
    color: blue;
}

span {
    color: lightskyblue;
}

form {
    padding: 10px;
}

legend {
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}

label {
    display: block;
}

input {
    display: block;
    outline: none;
}

input[type="text"] {
    margin-bottom: 10px;
}